.navbar{
    font-family: 'Raleway', sans-serif;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    z-index: 10;
}

.navbar p{
    font-style: italic;
    cursor: pointer;
}

.navbar ul{
    display: flex;
    gap: 15px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li p{
    font-style: normal;
}

.navbar ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.hamburger{
    display: none;
    font-size: 23px;
    padding-right: 10px;
}

.hamburger-list{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 46px;
    right: 0;
    width: 200px;
    height: 200px;
    display: none;
    place-items: center;
    font-size: 18px;
}

.hamburger-list ul{
    display: grid;
    gap: 15px;
}

.hamburger-list ul li{
    list-style: none;
}

.hamburger-list ul li p{
    cursor: pointer;
}

.hamburger-list ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.hamburger-list ul li i{
    color: rgb(75, 75, 75);
}


@media (max-width: 599px) {
    .hamburger-list{
        display: grid;
    }

    .navbar ul{
        display: none;
    }

    .hamburger{
        display: block;
    }
    
    .navbar{
        justify-content: space-between;
    }

    .navbar p{
        padding-left: 10px;
    }
}