.recipes{
    font-family: 'Raleway', sans-serif;
    display: grid;
    place-items: center;
    font-size: 18px;
    line-height: 25px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.title-recipes{
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;
    font-size: 25px;
    font-style: italic;
}

.image-recipes{
    width: 150px;
    height: 500px;
}

.inline-recipes{
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
    display: flex;
    gap: 50px;
}

.inline-recipes-two{
    padding-bottom: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.description-recipes{
    line-height: 30px;
    max-width: 600px;
}

.tagline-recipes{
    max-width: 600px;
    font-size: 20px;
    padding-bottom: 10px;
}

.name-recipes{
    font-size: 20px;
}

.display-number{
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
}

.button-arrow{
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.button-arrow:hover{
    border: 1px solid rgb(255, 169, 57);
    color: rgb(255, 169, 57);
}

.food-pairing-recipes{
    padding-top: 10px;
}

.preparation-recipes{
    font-size: 20px;
}

.tape-recipes{
    margin-top: 50px;
    background-color: rgb(245, 245, 245);
    padding: 20px 0;
    display: grid;
    place-items: center;
    width: 600px;
}

.tape-recipes div{
    line-height: 35px;
    display:flex;
    gap: 40px;
    text-align: center;
    font-size: 20px;
}

.tape-recipes div p span{
    font-size: 30px;
}


@media (max-width: 699px) {
    .inline-recipes{
        display: grid;
        place-items: center;
    }

    .image-recipes{
        width: 100px;
        height: 300px;
    }

}

@media (max-width: 599px) {
    .tape-recipes{
        width: 100%;
    }

    .tape-recipes div{
        font-size: 15px;
        line-height: 25px;
    }

    .food-pairing-recipes{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    .description-recipes{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    .tagline-recipes{
        font-size: 17px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .name-recipes{
        font-size: 19px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .inline-recipes{
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
}